<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get More Memory</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/semantic.min.css">
    <style>
        *{ box-sizing: border-box; }
        html , body { margin: 0; height: 100%; width: 100%; }
        body{ background-color: black; display: flex; flex-flow: column; font-family: 'Fredoka One', cursive; padding: 3% 3% 3% 3%; }
        .title{color: white;font-size: 40px;text-align: center;}
        .packets{ display: flex; flex-flow: row wrap; justify-content: space-around;}
        .packets div{ background-color: white;display: flex;flex-flow: column;padding: 10px;border-radius: 10px;min-height: 400px;justify-content: space-between;text-align: center; margin-bottom: 10px; }
        .packets div .capacity{ font-size: 40px; }
        .packets div img{ max-width: 200px; height: auto; }
        .packets .price{  text-decoration: line-through; color: red; font-weight: bold; font-size: 20px;}
    </style>
</head>
<body>
    <p class="title">Get more memory for your device now! It's Free and it always be.</p>
    <div class="packets">
        {{range .Products}}
            <div>
                <img src="{{.Image}}" alt="">
                <span class="capacity">{{.MainDescription}}</span>
                <span>{{.SecondaryDescription}}</span>
                <span>Regular Price: <span class="price">{{.RegularPrice | Currency}} USD</span></span>
                <button class="ui green button">Download Now! For $0.00</button>
            </div>
        {{end}}
    </div>
</body>
</html>